#social-buttons button {
color: white;
}
#social-buttons{
	padding-bottom: 50px;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}
.jumbotron {
	min-height : 600px;
	background-image: url('images/World.jpg');
	background-size : cover;
	background-attachment: fixed;
	padding-top: 100px;
}
#mission {
	background-color: rgba(32,35,41,0.9);
	color: #ddd;
	text-align: center;
}
#buzz{
	text-align:center;
}
.jumbotron h1 {
	font-family: 'Vast Shadow', cursive;
	color:white;
}
.jumbotron label {
  color: white;
  font-size: 20px;
}
.jumbotron img {
  margin-top: 50px;
}

.navbar{
	opacity:0.7;
}

#error{
	color:red;
}

#statement{
	padding: 30px;
}