#signin{
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}
#registration{
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}
#register{
	text-align:center;
}
.sign{
	background-color: white;
	opacity: 0.9;
	padding: 20px;
}
#remme{
	color:black;
}
